

html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Oswald", sans-serif;
    line-height: calc(29 / 16);
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
.total_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    background: radial-gradient(at right bottom, #FFFFFF, #8b8b8b);
}

.front {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 10s;
}

.front:hover {
    background-color: gray;
    transition: 3s;
}

nav {
    background: #FFFFFF;
    position: sticky;
    top: 0px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid 1px;
}

.nav_life{
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    padding: 20px 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_skills{
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    padding: 20px 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_work{
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    padding: 20px 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_contact{
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    padding: 20px 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_life {
    text-align: left;
    position: static;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

.total_life_container {
    height: 100%;
    width: 100%;
}

.life_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.life_writing {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.life_alignment {
    display: flex;
    justify-content: center;
    align-items: center
}

.sub_life_container {
    text-align: center;
    width: 75%;
    height: 100%;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.life_image {
    display: flex;
    flex: 1;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px;
}

img {
    border-radius: 15px;
}

.shadow {
    box-shadow: 15px 25px 5px rgba(0, 0, 0, 0.5);
}
.skills {
    text-align: left;
    position: static;
    padding-top: 20px;
    width: 100%;
    height: 100vh;
}

.text_align {
    text-align: center;
}

.languages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.python {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.html {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.css {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.skills_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.past_work {
    text-align: left;
    position: static;
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
}

.project_align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contact {
    text-align: left;
    position: static;
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.contact_align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ion-icon {
    font-size: 60px;
    color: darkblue;
    transition: 0.5s;
}

ion-icon:hover {
    font-size: 80px;
    color: red;
    transform: rotate(15deg);
    transition: 0.5s;
}