html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth'
}

.total_container {
    width: 100%;
    height: 100%;
    display: column;
}

.front {
    background-color: aqua;
}
nav {
    background: #FFFFFF;
    background: radial-gradient(at right bottom, #FFFFFF, #010101bd);
    position: sticky;
    left: 0px;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.my_life{
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    padding: 20px 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.career{
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px;
    padding: 20px 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}